/* ===== NAVBAR SECTION ===== */

.navbar-brand {
    color: white;
    padding: 0 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}

.nav-menu {
    background: transparent;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all .4s;
}

@media (max-width:34em) {
    .nav-menu {
        background: #000 !important;
    }
}

.nav-item {
    padding: 0 10px;
}

.menu-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}

@media (max-width: 34em) {
    .menu-item {
        padding: 10px 10px 10px;
    }
}

.navbar-toggler {
    cursor: pointer;
    outline: 0;
}

.ham {
    transition: width 0.3s;
    background: #F9F8F7;
}

.line1,
.line3 {
    width: 28px;
    height: 2px;
    margin: 6px;
    transition: 0.4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
    transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
    color: yellow;
}

.nav-active {
    color: yellow;
}

.dropdown-item {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.costum-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000 !important;
    position: fixed;
}


/* ===== END OF NAVBAR SECTION ===== */


/* ===== HERO SECTION ===== */

.hero-section {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .6)), url('https://images.pexels.com/photos/240572/pexels-photo-240572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-hero {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
}

.sub-text-hero {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 9px;
    color: orange;
}

.nav-bottom {
    background: transparent !important;
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.item-bottom {
    padding: 0 20px;
    transition: .2s;
    font-size: 20px;
}

.item-bottom:hover {
    background: transparent;
    transform: translateY(-2px);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    margin: 50px 0 0 -40px;
    margin-bottom: 150px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}


/* ===== END OF HERO SECTION ===== */